<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adventure-explorers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>adventure-explorers.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>adventure-explorers</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$adventure-explorers</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="AEXApplication.Models.FundraisingContext" Order="3" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AEXApplication.Models.FundraisingContext, AEX_Website" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AdventureExplorersDBEntities" Order="4" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:dufty7szcw.database.windows.net,1433;Initial Catalog=adventure-explorers_db;User ID=dbadmin@dufty7szcw;Password=BCC2015?" Name="Data Source=tcp:dufty7szcw.database.windows.net,1433;Initial Catalog=adventure-explorers_db;User Id=dbadmin@dufty7szcw;Password=BCC2015?" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AEXApplication.Models.AdventureExplorersDBEntities, AEX_Website" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:dufty7szcw.database.windows.net,1433;Initial Catalog=adventure-explorers_db;User ID=dbadmin@dufty7szcw;Password=BCC2015?" Name="Data Source=tcp:dufty7szcw.database.windows.net,1433;Initial Catalog=adventure-explorers_db;User Id=dbadmin@dufty7szcw;Password=BCC2015?" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AEXApplication.Models.ApplicationDbContext, AEX_Website" MigrationConfiguration="AEXApplication.Migrations.Configuration, AEX_Website" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdventureExplorersDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GearCheckOut.csdl|res://*/Models.GearCheckOut.ssdl|res://*/Models.GearCheckOut.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:dufty7szcw.database.windows.net,1433;Initial Catalog=adventure-explorers_db;User Id=dbadmin@dufty7szcw;Password=BCC2015?"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AEXApplication.Models.FundraisingContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tklqsagwp1.database.windows.net,1433;Initial Catalog=adventure-explorers_db;User Id=dbadmin@tklqsagwp1;Password=BCC2015?</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dufty7szcw.database.windows.net,1433;Initial Catalog=adventure-explorers_db;User Id=dbadmin@dufty7szcw;Password=BCC2015?</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <ConnectionStringsToInsert Include="AEXApplication.Models.FundraisingContext" />
  </ItemGroup>
</Project>