
@{
    ViewBag.Title = "BCCApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>BCC Application 2015</h2>
    <iframe src="https://docs.google.com/forms/d/17y7oR0nNny5ICbpCOyU_DSfLxSh8kM4Y-C_j0EYrEaA/viewform?embedded=true" 
            width="760" 
            height="4850" 
            frameborder="0" 
            marginheight="0" 
            marginwidth="0">Loading...</iframe>
</div>