
@{
    ViewBag.Title = "BRCCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>BRC Students Application Form</h2>
    <iframe src="https://docs.google.com/forms/d/1Q7yBC12C21JYx7KtJXBrk16zgN_XUsLmYcQ6-4wyJ9w/viewform?embedded=true" 
            width="760" 
            height="4500" 
            frameborder="0" 
            marginheight="0" 
            marginwidth="0">Loading...</iframe>
</div>
