
@{
    ViewBag.Title = "BRCCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>BRC Calendar 2015</h2>
<iframe class="tkf-em-cal" scrolling="no" width="600" height="1000" frameborder="0" style="border-width:0;background-color:transparent"
         src="https://tockify.com/em/brc2015"><a href="https://tockify.com/brc2015">Basic Rock Class 2015</a>
    </iframe>
</div>
