
@{
    ViewBag.Title = "BRCCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>BRC Level 7</h2>
    <img src="~/Images/BRC/Level_7.jpg" alt="BRC Level 1" ">
</div>
