
@{
    ViewBag.Title = "Contactus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Contact us</h2>

    <b> by E-Mail: </b> admin@adventure-explorers.com
    <br />
    <b> by Address: </b>
    15600 NE 8th ST,
    STE B1-785
    Bellevue, WA 98008

    <script>
        (function (w, i, d, g, e, t, s) {
            w[d] = w[d] || []; t = i.createElement(g);
            t.async = 1; t.src = e; s = i.getElementsByTagName(g)[0]; s.parentNode.insertBefore(t, s);
        })(window, document, '_gscq', 'script', '//widgets.getsitecontrol.com/19055/script.js');
    </script>
</div>