<!-- Carousel
    ================================================== -->

<!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

@*<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/Images/IMG_9116.jpg" width="140" height="140" alt="Generic placeholder image">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="http://placehold.it/140x140" alt="Generic placeholder image">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="http://placehold.it/140x140" alt="Generic placeholder image">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Basic Climbing Class <span class="text-muted">--It'll blow your mind.</span></h2>
            <p class="lead"> After this class, you should be able to handle any class 4 scrambles, hikes, and some grade 1 glaciers and class 4 snow scrambles. Ability to navigate and ability to trip plan on your own and able to lead basic level hikes/climbs. <b>WRFA</b> skills provided will help you become a wrfa leader with first aid skills and enjoy outdoors safely.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Images/IMG_9116.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Images/IMG_9118.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Intermediate Climbing Class <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Images/IMG_9113.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div>*@<!-- /.container -->
<div class="container">
    <div class="row">
        <section class="col-lg-6">
            <form>
                <div class="control-group">
                    <label class="control-label" for="inputEmail"><i class="glyphicon-user"></i> Full Name</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" id="inputEmail" placeholder="you@yourdomain.com" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail"><i class="glyphicon-question-sign"></i> Subject</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" id="inputEmail" placeholder="what's up?'" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail"><i class="glyphicon-pencil"></i> Messsage</label>
                    <div class="controls">
                        <textarea rows ="6" class="input-xxlarge" id="inputEmail" placeholder="What's on your mind?'"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Send Message</button>
                    </div>
                </div>

            </form>

        </section>
        <section class="col-lg-6">
            <div class="well">
                <iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d171828.37058204573!2d-122.37973799623555!3d47.70736524534158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!1i0!3e6!4m3!3m2!1d47.617208999999995!2d-122.12848149999999!4m5!1s0x54906dbaaf77f0cf%3A0x4b20c48b50d06b97!2sThe+UPS+Store%2C+Crossroads+Bellevue%2C+15600+NE+8th+St%2C+Bellevue%2C+WA+98008%2C+United+States!3m2!1d47.617197!2d-122.12848299999999!5e0!3m2!1sen!2sus!4v1425582856301" width="100%" height="450" frameborder="0" style="border:0">
                </iframe>
            </div> <!--end well ** Map-->
        </section>
    </div>
    </div> <!--Container-->