<!-- Carousel
    ================================================== -->
<!-- /.carousel -->

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/Images/IMG_9116.jpg" width="140" height="140" alt="Generic placeholder image">
            <h2>About Us</h2>
            <p>Adventure Explorers Inc. is a nonprofit corporation organized and operated exclusively for charitable purposes. 
            Adventure Explorers is an outdoor education non-profit organization. Adventure Explorers provides education for conservation 
            and stewardess of nature, education for outdoor skills, and building an effective community towards the goals. Adventure Explorers 
            is a passionate organization that works towards building a community of outdoor enthusiasts who are knowledgeable and care about 
            increasing outdoor awareness and safety.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="http://placehold.it/140x140" alt="Generic placeholder image">
            <h2>Missions</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="http://placehold.it/140x140" alt="Generic placeholder image">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Basic Climbing Class <span class="text-muted">-It'll blow your mind.</span></h2>
            <p class="lead"> After this class, you should be able to handle any class 4 scrambles, hikes, and some grade 1 glaciers and class 4 snow scrambles. Ability to navigate and ability to trip plan on your own and able to lead basic level hikes/climbs. <b>WRFA</b> skills provided will help you become a wrfa leader with first aid skills and enjoy outdoors safely.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Images/IMG_9116.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Images/IMG_9118.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Basic Rock Class <span class="text-muted">- See for yourself.</span></h2>
            <p class="lead">Our Basic Rock Class offers a lot of top roped climbs. Plenty of sports climbs. Introduction into Trad Climbing. 
            Covers Multi Pitch climbing. Our course also offers a good platform to meet other rock climbers and cultivates motivation in getting into higher grades. 
            It offers beginners the basics of rock climbing and get you upto setting up your own top rope anchors and enjoy an evening climb with your partner.
            For those, who wants to get into multipitch climbing and trad climbing, this course offers a good introduction and opens up new level to do some alphine peaks.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, Intermediate Climbing Class. <span class="text-muted">- Checkmate.</span></h2>
            <p class="lead">Intermediate Class Details Goals of the Class: Students take enough time to get comfortable with the following skills. 
            The Intermediate class doesn't provide any specific timeline. But Students can continue anywhere from 1 year to 5 years to complete 
            the course·The Goals are split into several categories,  Leading Rock, Leading Sports, Rock Leading, Trad Rock, Leading Multipitch 
            and swinging Leads Leading Snow. Organize Basic Climbs and Become a Leader Instruct students and get more experienced in organizing    
            Ice Climbing – This will be in montana at end of this year during December.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Images/IMG_9113.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->