<!-- Carousel
    ================================================== -->
<!-- /.carousel -->

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <div id="main_flexslider" class="flexslider">
        <ul class="slides">
            <li class="item" style="background-image: url(../../images/donate.jpg)">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            <strong>Donate</strong> Today<br>
                            @*you can <strong>trust</strong> &amp; <strong>build upon</strong>!*@
                        </h1>
                        <p class="lead skincolored"><strong>Adventure Explorers Inc</strong> is a <strong>Non Profit </strong> corporation organized and operated <strong>
                        exclusively </strong> for charitable purposes.</p>
                        @*<span class="round_badge"><strong><i class="fa fa-twitter"></i></strong><strong>V3</strong></span>*@
                    </div>
                </div>
            </li>
            <li class="item" style="background-image: url(../../Images/TM.jpg)">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            Volunteer <strong>your time</strong><br>
                            @*of the power of <strong>{LESS}</strong> syntax!*@
                        </h1>
                        <p class="lead skincolored"><strong>Help </strong>Adventure Explorers protect the National Parks and State Parks.
                        Get involved with our conservation efforts!</p>
                    </div>
                </div>
            </li>
            <li class="item" style="background-image: url(../../Images/St.Helens.JPG)">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="skincolored">
                            <strong>learn.</strong> conserve. experience<br>
                            @*&amp; a <strong>fresh</strong> collapsing <strong>header effect</strong>*@
                        </h1>
                        <p class="lead">
                            The mission of AEX is to <a href="services.html"><strong>spread Awareness</strong></a>  and outdoor safety by education ,<br>
                            and motivating new and gathering <a href="page_alternative.html"><strong>experienced </strong></a> outdoor enthusiasts!
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="main">
    <div class="container">
        <section class="call_to_action">
            <h3>Learn. Conserve. Experience.</h3>
            <h4>Explore the pacific northwest </h4>
            @*<a class="btn btn-primary btn-lg" href="#">Donate</a>*@
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="AMX7MD2PE92BY">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>

        </section>
        <section class="features_teasers_wrapper">
            <div class="row">
                <div class="feature_teaser col-sm-4 col-md-4">
                    <img alt="responsive" src="~/images/Team.jpg">
                    <h3>Basic Alpine Climbing Class</h3>
                    <p>Our basic climbing class offers <strong> excellent learning </strong> ground for beginners who wants to break out of their hiking shell and get into more technical climbing and basic level climbing.</p>
                </div>
                <div class="feature_teaser col-sm-4 col-md-4">
                    <img alt="responsive" src="~/images/BRC_photo.jpg">
                    <h3>Basic Rock Climbing Class</h3>
                    <p>Our Basic Rock Class offers a lot of <strong> top roped climbs</strong>. Plenty of <strong> sports climbs </strong>. Introduction into <strong> Trad Climbing</strong>.</p>
                </div>
                <div class="feature_teaser col-sm-4 col-md-4">
                    <img alt="responsive" src="~/images/ICC1.jpg">
                    <h3>Intermediate Climbing Class</h3>
                    <p>Goals for ICC includes Leading Rock, Leading Sports, <strong> Leading Multipitch </strong> and swinging leads. Organize Basic Climbs and Become a Leader </p>
                </div>
            </div>
        </section>
        <section class="portfolio_teasers_wrapper">
            <h2 class="section_header fancy centered">Recent Work or Projects from 2015<small>we take pride in our work</small></h2>
            <div class="portfolio_strict row">
                <div class="col-sm-4 col-md-4">
                    <div class="portfolio_item wow animated flipInX">
                        <a href=@Url.Action("BCCApplication", "Home") data-path-hover="M 180,190 0,158 0,0 180,0 z">
                            <figure style="background-image:url(../../images/BCC1.jpg)">
                                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                    <path d="M 180,0 0,0 0,0 180,0 z" />
                                </svg>
                                <figcaption>
                                    <p>Our BCC 2014 students climbing Guye Peak , a class 3 or 4 scramble to the summit of a peak near Alpental</p>
                                    @*<div class="view_button">View</div>*@
                                </figcaption>
                            </figure>
                        </a>
                        <div class="portfolio_description">
                            <h3><a href=@Url.Action("BCCApplication", "Home")>BCC 2013</a></h3>
                            <p>Learning</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="portfolio_item wow animated flipInX">
                        <a href=@Url.Action("BCCCalendar", "Home") data-path-hover="M 180,190 0,158 0,0 180,0 z">
                            <figure style="background-image:url(../../images/bcc2.jpg)">
                                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                    <path d="M 180,0 0,0 0,0 180,0 z" />
                                </svg>
                                <figcaption>
                                    <p>
                                        Our team climbing St Helens, which was the smallest of Washington's 5 volcanoes at 9677 ft (2950 m).
                                        The team practised overnight camping and high altitude climbing.
                                    </p>
                                    @*<div class="view_button">View</div>*@
                                </figcaption>
                            </figure>
                        </a>
                        <div class="portfolio_description">
                            <h3><a href=@Url.Action("BCCApplication", "Home")>High Altitude climbing</a></h3>
                            <p>Training</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="portfolio_item wow animated flipInX">
                        <a href=@Url.Action("BCCApplication", "Home") data-path-hover="M 180,190 0,158 0,0 180,0 z">
                            <figure style="background-image:url(../../images/MtBaker.jpg)">
                                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                    <path d="M 180,0 0,0 0,0 180,0 z" />
                                </svg>
                                <figcaption>
                                    <p>Team enjoying Summit photos from Mt Baker. </p>
                                  @*<div class="view_button">View</div>*@
                                </figcaption>
                            </figure>
                        </a>
                        <div class="portfolio_description">
                            <h3>
                                <a href=@Url.Action("BCCApplication", "Home")>
                                    Graduation Climbs
                                </a></h3>
                            <p>Achieve</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clients_section wow animated fadeInUp">
            <h2 class="section_header elegant centered">Our Meetup Groups<small> Join all of them today.</small></h2>
            <div class="clients_list"> 
                <a href="http://meetup.com/Adventure-Explorers-Washington/" target="_blank">
                    <img src="~/Images/Meetup/highres_438153202.jpeg" alt="client">
                </a> 
                <a href="http://meetup.com/adventurers-206" target="_blank">
                    <img src="~/Images/Meetup/highres_437084431.jpeg" />
                </a> 
                <a href="http://meetup.com/East-Side-Rock-Climbing/" target="_blank">
                    <img src="~/Images/Meetup/highres_15065013.jpeg">>
                </a> 
                @*<a href="#"><img src="images/clients/bbpress.jpg" alt="client"></a> 
                <a href="#"><img src="images/clients/wpml.jpg" alt="client"></a>*@ 
            </div>
        </section>
    </div>

</div>  
          <!-- FOOTER -->



<!-- /.container -->
